@{
    Layout = null;
}

<script src="~/Scripts/app/modules/maps/markerclusterer.js"></script>
<script src="~/Scripts/app/modules/maps/data.json"></script>


<script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12846745-20']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>


<div class="content-heading">
    <!-- START Language list-->
    <div class="pull-right">
        <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
            <button type="button" uib-dropdown-toggle="" class="btn btn-default">
                {{language.selected}}
                <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li ng-repeat="(localeId, langName) in language.available">
                    <a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END Language list    -->
    Runsheets
    @*<small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>*@
</div>

    <div id="map" ng-controller="GMapController as gmap" class="container-fluid" >

        <div class="row">

            <div class="col-md-12">
                  <div  ui-map="gmap.myMap4" ui-options="gmap.mapOptions4" class="gmap" style="height:450px"></div>          
            </div>
        </div>

    </div>

    <div class="container-fluid">
            <div class="text-right text-muted">
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Seq</th>
                            <th>Del Time</th>
                            <th>Customer</th>
                            <th>Open Time</th>
                            <th>Phone</th>
                            <th>Time Slot</th>
                            <th>Z</th>
                            <th>Dist. (KM)</th>
                            <th>Total Items</th>
                            <th>Total KG</th>
                            <th>Dairy</th>
                            <th>Frozen</th>
                            <th>Net Plts</th>
                            <th>Pals Del</th>
                            <th>Pals P/U</th>
                            <th>A.T.A</th>
                            <th>Vary</th>
                            <th>Reason Code</th>
                            <th>E.T.D</th>
                            <th>A.T.D</th>
                            <th>Vary</th>
                            <th>Del Time</th>
                            <th>TS Hit/Miss</th>
                            <th>Overide Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SCH</td>
                            <td>572578</td>
                            <td>Driver: John<br>Time 1:15AM to<br>Prime Mover<br>Trailer(s): TVR44</td>
                            <td>Loader: R44</td>
                            <td></td>
                            <td></td>
                            <td>Load Status</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1:15am</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1:15am</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>3:15AM</td>
                            <td>20-min Break</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>SCH</td>
                            <td>572578</td>
                            <td>Driver: John<br>Time 1:15AM to<br>Prime Mover<br>Trailer(s): TVR44</td>
                            <td>Loader: R44</td>
                            <td></td>
                            <td></td>
                            <td>Load Status</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1:15am</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1:15am</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>3:15AM</td>
                            <td>20-min Break</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6:50AM</td>
                            <td>IGA Supa Ritchies Griffith<br>Code#62453704</td>
                            <td>06:00 - 18:00 Map</td>
                            <td>0438871701</td>
                            <td></td>
                            <td>c</td>
                            <td>463</td>
                            <td>254</td>
                            <td>1656</td>
                            <td>143</td>
                            <td>102</td>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7:00AM</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

